<nav class="nav-bar side-padding">
  <h1 class="nav-header"><a href="{{ .Site.BaseURL }}/{{ .Language.Lang }}" class="nav-text">
      {{- if isset $.Site.Params "brand"}}
      {{- if eq $.Title "About me"}}
      {{- $.Site.Params.brand }} ~/about $
      {{ else }}
      {{- $.Site.Params.brand }} ~/posts $
      {{ end -}}
      {{ else }}
      {{- $.Site.Title -}}
      {{ end -}}
    </a></h1>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">LANG={{ .Language.Lang }}<span> &#9660;</span></button>
    <div id="myDropdown" class="dropdown-content">
      {{ range .Translations }}
      <a href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">export LANG={{ .Language.Lang }}</a>
      {{ end }}
    </div>
  </div>
  <div class="nav-links">
    {{- if eq $.Title "About me"}}
    <button class="nav-links-btn" onclick="location.href='/{{ .Language.Lang }}/'" type="button">cd ~/posts</button>
    {{ else }}
    <button class="nav-links-btn" onclick="location.href='/{{ .Language.Lang }}/about'" type="button">cd ~/about</button>
    {{ end -}}
  </div>
  <div class="hamburger-menu">
    <button onclick="hamburgerMenuPressed.call(this)" aria-haspopup="true" aria-expanded="false" aria-controls="menu"
      aria-label="Menu">
      <span></span>
      <span></span>
    </button>
    <ul id="menu" class="hamburger-menu-overlay">
      <li><a href="{{ .Site.BaseURL }}" class="hamburger-menu-overlay-link">Home</a></li>
      {{ range where .Site.Pages "Params.displayinmenu" true -}}
      <li><a href="{{ .Permalink }}" class="hamburger-menu-overlay-link">{{ .Title }}</a></li>
      {{ end -}}
      {{ range $key, $value := .Site.Taxonomies.categories -}}
      {{ with $.Site.GetPage (printf "%s%s" "categories/" ($key | urlize)) }}
      <li><a href="{{ .Permalink }}" class="hamburger-menu-overlay-link">{{ .Title }}</a></li>
      {{ end }}
      {{- end }}
      {{ if eq .Site.Params.rssinmenu true -}}
      <li><a href="{{ "/index.xml" | absURL }}" class="hamburger-menu-overlay-link">rss</a></li>
      {{- end }}
    </ul>
  </div>
</nav>